#!/bin/bash
set -e

export RESTIC_REPOSITORY="{{ vars[service_name].backups.restic.repository }}"
export RESTIC_PASSWORD="{{ vars[service_name].backups.restic.password }}"
export AWS_ACCESS_KEY_ID="{{ vars[service_name].backups.restic.access_key_id }}"
export AWS_SECRET_ACCESS_KEY="{{ vars[service_name].backups.restic.secret_access_key }}"

restic backup "{{ vars[service_name].backups.restic.backup_path }}"
